:root {
  /* Cover Wrapper */
  --cover-display: flex;
  --cover-justify-content: center;
  --cover-flex-direction: column;
  --cover-align-items: center;
  --cover-aspect-ratio: 1.9;

  /* Cover Primary Text */
  --cover-primary-text-color: #ffffff;
  --cover-primary-text-font-size: 28px;
  --cover-primary-text-font: sans-serif;
  --cover-primary-text-align: center;

  /* Cover Secondary Text */
  --cover-secondary-text-color: #ffffff;
  --cover-secondary-text-font-size: 20px;
  --cover-secondary-text-font: sans-serif;
  --cover-secondary-text-align: center;

  /* Cover Background (overlay */
  --cover-color-overlay-opacity: 0%;
  --cover-background-color-1: #333333;
  --cover-background-color-2: #eae3e3;

  /* Cover Secondary Text */
  --cover-secondary-bottom: unset;
  --cover-secondary-right: unset;
  --cover-secondary-left: unset;
  --cover-secondary-position: relative;
}

.coverWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  gap: 1rem;
  padding: 1.5rem 1rem;
  z-index: 2;
  margin: 0 auto;
  background-image: radial-gradient(var(--mantine-color-violet-2) 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: -20px -20px;

  [data-mantine-color-scheme='dark'] & {
    background-image: radial-gradient(var(--mantine-color-dark-4) 1px, transparent 1px);
  }

  @media (min-width: em(992px)) {
    border-radius: 1rem;
    height: calc(100vh - 120px);
    border: 1px solid var(--mantine-color-gray-4);
    gap: 2rem;

    [data-mantine-color-scheme='dark'] & {
      border-color: var(--mantine-color-dark-5);
    }
  }
}

.coverSkeleton {
  display: block;
  width: min(calc(90vw - 360px), 900px);
  margin: 0 auto;
  min-width: 320px;
  aspect-ratio: var(--cover-aspect-ratio);
  overflow: hidden;
  z-index: 99;
  padding: 2rem;
}

.innerCover {
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  @media (min-width: em(992px)) {
    width: min(calc(90vw - 360px), 900px);
  }
}
