.main-header {
  padding: 12px;
  border-bottom: 1px solid var(--mantine-color-gray-3);
  z-index: 50;

  [data-mantine-color-scheme='dark'] & {
    border-bottom: 1px solid var(--mantine-color-dark-6);
  }
}
