.content {
  font-size: 1em;
}

.title {
  font-size: 3em;
  font-weight: 600;
  color: var(--mantine-color-dark-8);
  margin: 0;
  padding: 0;

  [data-mantine-color-scheme='dark'] & {
    color: var(--mantine-color-gray-3);
  }

  @media (min-width: 768px) {
    font-size: 4em;
  }
}

.copy {
  font-size: 1em;
  text-align: center;
  color: var(--mantine-color-dark-8);
  max-width: 450px;
  font-weight: 500;

  [data-mantine-color-scheme='dark'] & {
    color: var(--mantine-color-gray-3);
  }

  @media (min-width: 768px) {
    font-size: 1.2em;
  }
}

.footerWrapper {
  width: 100%;
}
