.covers-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 1;
  margin-top: 2rem;

  &--image {
    object-fit: cover;
    box-shadow: var(--mantine-shadow-sm);
    border-radius: var(--mantine-radius-md);
  }
}
