.hero-section {
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 50px 20px 0px 20px;

  @media (min-width: 768px) {
    padding: 50px 55px 0px 55px;
  }

  &-content {
    text-align: center;

    &--badge {
      cursor: pointer;
      text-transform: none;
    }

    &--theme-container {
      align-self: center;
    }

    &--title {
      color: var(--mantine-color-gray-8);
      line-height: 1;
      max-width: 450px;
      font-size: 2.8rem;
      align-self: center;

      @media (min-width: 768px) {
        max-width: 650px;
        font-size: 3.8rem;
      }

      [data-mantine-color-scheme='dark'] & {
        color: var(--mantine-color-gray-3);
      }
    }

    &--copy {
      align-self: center;
      color: var(--mantine-color-dark-8);
      max-width: 490px;
      font-weight: 500;
      font-size: 1rem;

      @media (min-width: 768px) {
        font-size: 1.1rem;
      }

      [data-mantine-color-scheme='dark'] & {
        color: var(--mantine-color-gray-3);
      }
    }

    &--message {
      color: var(--mantine-color-customDark-6);
      opacity: 0.9;
      text-align: center;
      font-size: 0.9rem;
      font-weight: 500;
      margin-top: 1rem;

      [data-mantine-color-scheme='dark'] & {
        color: var(--mantine-color-customDark-1);
      }
    }

    &--message-free {
      color: var(--mantine-color-green-7);
    }
  }
}
