.logo {
  text-decoration: none;
  height: max-content;
  &-title {
    color: var(--mantine-color-dark-9);
    font-weight: 500;
    font-size: 1rem;

    [data-mantine-color-scheme='dark'] & {
      color: white;
    }
  }
}
