.background-image-placeholder {
  border: 1px dashed var(--mantine-color-default-border);
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--mantine-font-size-sm);
  width: 100%;
  height: 100%;
  border-radius: var(--mantine-radius-md);
  color: var(--mantine-color-dimmed);

  &:focus {
    background-color: pink;
  }
}
